nav {
  background-color: #4056a1;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 3.5vmax;
}

.new-tweet-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-angles-down {
  animation: updown 1.5s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-5%);
  }
}